ul {
    list-style-type: none;
    text-indent: 0px;
}
a {
    text-decoration: none;
    color: #0000ff !important;
}
input {
    border: 2px solid black;
}
button {
    background-color: white;
    border: 2px solid black;
}
#messageBox {
    width: auto;
    height: 490px; /*Makes the top message partially shown*/
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
label {
    color: #11ff11 !important;
}
.list {
    color: #0000ff !important;
}
.light {
    background-color: white;
    color: black;
    border-color: black;
}
.dark {
    background-color: black;
    color: white;
    border-color: white;
}
.hacker {
    color: #00ff00;
}